<div *ngIf="afAuth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<h1>Reversi Angular 8</h1>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>

<input #nameComp type="text" />
<input (click)="createBoard(nameComp.value)" type="button" value="Créer une partie"/>

<div *ngFor="let board of gamesObs | async">
  <app-board [docId]="board.docId"></app-board>
</div>
<p></p>
